body {
    height: 2000px;
}

ul {
    padding: 0;
    margin:0;
}

li {
    list-style: none;
    padding:0;
    margin:0;
}

.gallery {
    position:relative;
    display: table;
}
.btn {
    cursor: pointer;
    color: #303030;
    border: none;
    box-shadow: 0px 2px 4px #383838;
    padding: 10px;
    outline: none;
}

.btnGet {
    background: #0071FF;
    transition: background 0.5s;
    color: #FFF;
}

.btn:active {
    box-shadow: 0px 1px 1px #383838;
}

.btnGet:hover {
    background: #0059C8
}

.item {
    padding: 20px;
    cursor: pointer;
}

.input {
    width: 150px;
    border: none;
    background: #FFF;
    box-shadow: 0px 2px 4px #383838;
    padding: 9px;
    outline: none;
}

.btnRemove {
    margin-left: 10px;
}

.text {
    background: red;
    width: 50px;
    height: 20px;
}

.container {
    border: 2px solid black;
}

.lights {
    width: 200px;
    height: 200px;
    border: 2px solid;
    border-radius: 50%;
}

.red.active {
    background: red;
}

.yellow.active {
    background: yellow;
}

.green.active {
    background: green;
}

.form {
    width: 400px;
    margin: 0 auto;
}

.el {
    width: 40px;
    height: 40px;
    float: left;
    border: 1px solid black;
}

#id1 {
    background: red;;
}

#id2 {
    background: green
}

#id3 {
    background: blue;
}

#id4 {
    background: yellow;
}

#id5 {
    background: aquamarine;
}

.modal {
    width: 200px;
    height: 200px;
    background: red;
    position: absolute;
    border: 1px solid black;
    display: none;
}

.tabs {
    display:block;
}

.tab-controll {
    display: inline-block;
}
.tab-controll.active a,
.tab-content.active{
    background: #FFFFFF;
}
.tab-controll a {
    text-decoration: none;
    display:inline-block;
    background: #f0f0f0;
    padding: 10px;
    border-bottom: none;
}
.tabs-content {
    padding: 10px;
}

.tab-content {
    display:none;
}
.tab-content.active {
    display: block;
}